<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
<!--         <property name="connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!--         <property name="connection.url">jdbc:mysql://localhost:3306/imagemmedica</property> -->
<!--         <property name="connection.username">imagemmedica</property> -->
<!--         <property name="connection.password">dbimed2014</property> -->
        
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://mysql.diamedico.com.br/diamedico</property>
        <property name="connection.username">diamedico</property>
        <property name="connection.password">imed2015</property>

		<!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="generate_statistics">true</property>
		<property name="hibernate.ejb.naming_strategy">com.puc.hibernate.NamingStrategy</property>
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

        <!-- Drop and re-create the database schema on startup -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        
        <!-- Mapping classes -->
        <mapping class="com.puc.imagemmed.instituicao.Instituicao"></mapping>
        <mapping class="com.puc.imagemmed.medico.Medico"></mapping>

        <mapping class="com.puc.imagemmed.pessoa.Pessoa"></mapping>
        <mapping class="com.puc.imagemmed.exame.Exame"></mapping>
        <mapping class="com.puc.imagemmed.doenca.Doenca"></mapping>
        <mapping class="com.puc.imagemmed.especialidade.Especialidade"></mapping>

        <mapping class="com.puc.imagemmed.usuario.Usuario"></mapping>
        <mapping class="com.puc.imagemmed.permissao.Permissao"></mapping>
        
        <!-- Mapping classes for Paciente -->
        <mapping class="com.puc.imagemmed.parente.Parente"></mapping>
        <mapping class="com.puc.imagemmed.nota.Nota"></mapping>
        <mapping class="com.puc.imagemmed.imagem.Imagem"></mapping>
        
        <mapping class="com.puc.imagemmed.paciente.Paciente"></mapping>
    </session-factory>

</hibernate-configuration>